/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home{
  h1{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 40px;
  }
  .services-card{
    padding: 30px;

    .svg{
      height: 120px;
      width: 120px;
      margin: auto;
      padding: 10px;

    }

    h2{
      font-size: 25px;
      text-align: center;
    }

    p{
      text-align: center;
    }
  }
  .info-card{
    padding: 30px;
    text-align: center;
  }
}

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(image-path("landing.png"));
  @media only screen and (max-width : 480px) {
    height: 187vh;
  }

}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
