<div class="navbar-wagon navbar-fixed">
  <!-- Logo -->
  <div class="navbar-wagon-brand js-navbar-btn-logo">
    <%= image_tag "logo.png" %>
  </div>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


  <!-- no mobile version -->
  <div class="device-large ">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-md-10 col-xs-offset-1">
          <div class="navbar-container">
            <!-- btn pages no mobile -->
            <div class="navbar-right ">
              <div class="in-line">
                <p class="text-center ">
                <a class="no-btn-decoration navbar_btn_accueil" role="button">Accueil</a>
                <a class="no-btn-decoration navbar_btn_nos_vans" role="button">Nos vans</a>
                <a class="no-btn-decoration navbar_btn_contact" role="button">Contact</a>
                </p></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a class="no-btn-decoration navbar_btn_accueil" role="button">Accueil</a></li>
        <li><a class="no-btn-decoration navbar_btn_nos_vans" role="button">Nos vans</a></li>
        <li><a class="no-btn-decoration navbar_btn_contact" role="button">Contact</a></li>
      </ul>
    </div>
  </div>
</div>











